<!DOCTYPE html>
<html>

<head>
    <title>Game Surveys</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="container">
        <a href="/add_survey">Add Game Survey</a>
        <br><br><br>
        <a href="/list_surveys">List Surveys</a>
    </div>
</body>

</html>